* {
    border: none;
    font-family: "Ubuntu Nerdfont";
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: #2e3133;

}

#network {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#network:hover {
    color: #2e3133;
    background: #FFF;
}

#cava {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#cava:hover {
    color: #2e3133;
    background: #FFF;
}

#battery {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#battery:hover {
    color: #2e3133;
    background: #FFF;
}

#backlight:hover {
    color: #2e3133;
    background: #FFF;
}

#backlight {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#language {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#language:hover {
    color: #2e3133;
    background: #FFF;
}

#pulseaudio {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    padding: 8px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#pulseaudio:hover {
    background: #FFF;
    color: #2e3133;
}

#pulseaudio.muted {
    color: #FFF;
    background: #2e3133;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#pulseaudio.muted:hover {
    background: #FFF;
    color: #2e3133;

}

#clock {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#clock:hover {
    color: #2e3133;
    background: #FFF;
}

#disk {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#disk:hover {
    color: #2e3133;
    background: #FFF;
}

#privacy {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#idle_inhibitor {

    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#idle_inhibitor.activated {
    color: #89b4fa;
    border-color: #89b4fa;
}

#idle_inhibitor.activated:hover {
    background: #89b4fa;
    color: #2e3133;
    border-color: #89b4fa;
}

#idle_inhibitor.deactivated {
    color: #FFF
}

#idle_inhibitor.deactivated:hover {
    color: #2e3133;
    background: #FFF;
}

#memory {

    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#memory:hover {
    color: #2e3133;
    background: #FFF;

}

#cpu {

    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#cpu:hover {
    color: #2e3133;
    background: #FFF;

}

#custom-launcher {
    font-size: 20px;

    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;

    transition: none;
    color: #FFF;
    background: #2e3133;
    transition: 0.3s;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
}

#custom-launcher:hover {
    background: #FFF;
    color: #2e3133;
}

#network.disconnected {
    color: #FFF;
    background: #2e3133;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
}

#network.disconnected:hover {
    background: #FFF;
    color: #2e3133;
}

#custom-power {
    font-size: 15px;

    margin-left: 8px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#custom-power:hover {

    background: #FFF;
    color: #2e3133;
    border-color: #FFF;

}

#workspaces {

    margin-left: 8px;
    padding-right: 4px;
    background: #2e3133;
    border-bottom: 2px;

    border-style: solid;
    border-color: #FFF;
    color: #FFF;
    transition: 0.3s;
}

#workspaces button {
    color: #FFF;
    transition: 0.3s;
}

#workspaces button:hover {
    background: transparent;
    color: transparent;
}

#tray {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#tray menu {

    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#custom-reboot {
    font-size: 15px;

    margin-left: 8px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#custom-suspend {
    font-size: 15px;

    margin-left: 8px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;

    transition: none;
    background: #2e3133;
    color: #FFF;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FFF;
    transition: 0.3s;
}

#custom-reboot:hover {

    background: #FFF;
    color: #2e3133;
    border-color: #FFF;

}

#custom-suspend:hover {

    background: #FFF;
    color: #2e3133;
    border-color: #FFF;

}
