
*, #workspaces button {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "JetBrains Mono NerdFont" ;
    border-radius: 10px;
}

window#waybar {
    background: #101010;
}

window#waybar.hidden {
    opacity: 0.0;
}

window {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    color: transparent;
    background: transparent;
}


#pulseaudio, #clock,#battery, #memory, #cpu,#tray, #custom-distro, #workspaces, #network {
    color: #ffffff;
    background: #101010;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-reboot,#custom-shutdown{
  color: #ffffff;
  background: #101010;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 9px;
}

#network {
  padding-left: 5px;
}

#pulseaudio:hover, #battery:hover,#clock:hover, #memory:hover, #cpu:hover, #custom-reboot:hover, #custom-shutdown:hover, #custom-distro:hover, #network:hover{
    color: #000000;
    background: #ffffff;
}


#custom-distro {
    color: #ffffff;
    /*background: linear-gradient(to bottom right, #f5e0dc, #f5c2e7, #eba0ac);*/
    background: transparent;
    padding-right: 19px;
    padding-left: 13px;
}


#workspaces {
  padding: 0;
  padding-left: 1ex;
  padding-right: 1ex;
}

#workspaces button {
  all: initial;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
  padding-right: 5px;
  padding-left: 9px;
}

#workspaces {
    background: transparent;
}

#workspaces button.active {
  color: #000000;
  background: #ffffff;
}

#workspaces button:hover {
  color: #000000;
  background: #ffffff;
}

#workspaces button.urgent {
  background: #ff0000;
}
